@import "tailwindcss";

:root {
 
  background: black;
  --foreground: #171717;
  --nav-offset: 80px;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-offset);
}

/* Ensure anchor targets are offset from the top (to avoid being hidden) */
[id] {
  scroll-margin-top: var(--nav-offset);
}

 

